
<table border="1" align="center" ID="tab" >
  <tr>
    <td>
      First Name
    </td>
    <td>
     {{item.f_name}}
    </td>
  </tr>
  <tr>
    <td>
      Last Name
    </td>
    <td>
        {{item.l_name}}
    </td>
  </tr>
  <tr>
    <td>
      Employee Id
    </td>
    <td>
        {{item.emp_id}}
    </td>
  </tr>
  <tr>
    <td>
      Mail
    </td>
    <td>
        {{item.mail}}
    </td>
  </tr>
  <tr>
    <td>
      Number
    </td>
    <td>
        {{item.num}}
    </td>
  </tr>
  <tr>
    <td>
      Password
    </td>
    <td>
        {{item.pass1}}
    </td>
  </tr>
  <tr>
    <td>Confirm Password</td>
    <td>{{item.pass2}}</td>
  </tr>
  <tr>
    <td>
      Gender
    </td>
    <td>
        {{item.gender}}
    </td>
  </tr>

</table>

    <br />
<button (click)='edit()'  >Edit</button>




