
<div clas="big-box">
<div class="form-box">
  <h2>SIGN UP</h2>
  <br />
  <div class="inner-box">
      <form [formGroup]="Form1" align="center" (ngSubmit)="Data()">
         <input type="text" formControlName="f_name" placeholder="First Name" class="alert alert-success">
         <div id="down" class="alert alert-danger" *ngIf="Form1.controls['f_name'].touched && !Form1.controls['f_name'].valid "  style="color:red;font-weight:bold">&nbsp;&nbsp;&nbsp;Enter only letters</div>  
         
         <input type="text"  formControlName="l_name" placeholder="Last Name" class="alert alert-success">
         <div class="alert alert-danger" *ngIf="Form1.controls['l_name'].touched && !Form1.controls['l_name'].valid" style="color:red;font-weight:bold">&nbsp;&nbsp;&nbsp;Enter only letters</div>
         
         <input type="text"  formControlName="emp_id" placeholder="Employee Id" class="alert alert-success">
         <div class="alert alert-danger" *ngIf=" Form1.controls['emp_id'].touched && !Form1.controls['emp_id'].valid" style="color:red;font-weight:bold">&nbsp;&nbsp;&nbsp;Enter only 4 digits</div>
         
         <input type="email"  formControlName="mail" placeholder="Email" class="alert alert-success">
         <div class="alert alert-danger" *ngIf="Form1.controls['mail'].touched && !Form1.controls['mail'].valid" style="color:red;font-weight:bold">&nbsp;&nbsp;&nbsp;Enter your valid email</div>
         <select formControlName="gender"  class="alert alert-success" placeholder="Select your gender">
           <option value="">Enter your Gender</option>
            <option value="Male"> Male</option>
            <option value="Female">Female</option>
         </select>
         <input  type="text" formControlName="num" placeholder="Contact No." class="alert alert-success">
         <div class="alert alert-danger" *ngIf="Form1.controls['num'].touched  && !Form1.controls['num'].valid" style="color:red;font-weight:bold">&nbsp;&nbsp;&nbsp;Enter your 10 digit number</div>
         
         <input type="{{type}}" formControlName="pass1" placeholder="Password" class="alert alert-success">
         <span (click)="showHide()"class="glyphicon glyphicon-eye-open"></span>
         <div class="alert alert-danger" *ngIf="Form1.controls['pass1'].touched  && !Form1.controls['pass1'].valid" style="color:red;font-weight:bold">&nbsp;&nbsp;&nbsp;Enter 1 upper, 1 lower, 1 digit & special character</div>
         
         <input type="password"  formControlName="pass2" placeholder="Confirm Password"  class="alert alert-success">
         <div class="alert alert-danger" *ngIf="Form1.controls['pass2'].touched  && !check()" style="color:red;font-weight:bold">&nbsp;&nbsp;&nbsp;Enter same password</div> 
         
         
         
        
         <div class="alert alert-danger" *ngIf="Form1.controls['gender'].touched  && !Form1.controls['gender'].valid" style="color:red;font-weight:bold">&nbsp;&nbsp;&nbsp;Enter your gender(Female/Male)</div> 
        
         <button type="submit" [disabled]="!Form1.valid" class="btn btn-primary" >Submit</button>
      </form>
</div>
</div>
</div>
